In [1]:
library(datasets)
data(iris)

In [2]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa

In [3]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [4]:
colMeans(iris[, c(1, 2, 3, 4)], na.rm=TRUE)

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
    5.843333     3.057333     3.758000     1.199333

In [5]:
mean(iris[with(iris, Species == "virginica"), c("Sepal.Length")])

[1] 6.588

In [6]:
apply(iris[, 1:4], 2, mean)

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
    5.843333     3.057333     3.758000     1.199333

In [7]:
data(mtcars)

In [8]:
?mtcars

mtcars                package:datasets                 R Documentation

_M_o_t_o_r _T_r_e_n_d _C_a_r _R_o_a_d _T_e_s_t_s

_D_e_s_c_r_i_p_t_i_o_n:

     The data was extracted from the 1974 _Motor Trend_ US magazine,
     and comprises fuel consumption and 10 aspects of automobile design
     and performance for 32 automobiles (1973-74 models).

_U_s_a_g_e:

     mtcars

_F_o_r_m_a_t:

     A data frame with 32 observations on 11 variables.

       [, 1]  mpg   Miles/(US) gallon
       [, 2]  cyl   Number of cylinders
       [, 3]  disp  Displacement (cu.in.)
       [, 4]  hp    Gross horsepower
       [, 5]  drat  Rear axle ratio
       [, 6]  wt    Weight (1000 lbs)
       [, 7]  qsec  1/4 mile time
       [, 8]  vs    V/S
       [, 9]  am    Transmission (0 = automatic, 1 = manual)
       [,10]  gear  Number of forward gears
       [,11]  carb  Number of carburetors

_S_o_u_r_c_e:

     Henderson and Velleman (1981), Building multiple regression models
     interactively.  _Biometrics_, *37*, 391-411.

_E_x_a_m_p_l_e_s:

     require(graphics)
     pairs(mtcars, main = "mtcars data")
     coplot(mpg ~ disp | as.factor(cyl), data = mtcars,
            panel = panel.smooth, rows = 1)

In [9]:
head(mtcars)

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

In [10]:
mtcars["avg_mpg_by_cyl"] <- mtcars[, c("mpg")] / mtcars[, c("cyl")]
head(mtcars[, c("mpg", "cyl", "avg_mpg_by_cyl")])

                   mpg cyl avg_mpg_by_cyl
Mazda RX4         21.0   6       3.500000
Mazda RX4 Wag     21.0   6       3.500000
Datsun 710        22.8   4       5.700000
Hornet 4 Drive    21.4   6       3.566667
Hornet Sportabout 18.7   8       2.337500
Valiant           18.1   6       3.016667

In [11]:
split(mtcars$mpg, mtcars$cyl) # Get a list where key = cyl and value is list of mpg

$`4`
 [1] 22.8 24.4 22.8 32.4 30.4 33.9 21.5 27.3 26.0 30.4 21.4

$`6`
[1] 21.0 21.0 21.4 18.1 19.2 17.8 19.7

$`8`
 [1] 18.7 14.3 16.4 17.3 15.2 10.4 10.4 14.7 15.5 15.2 13.3 19.2 15.8 15.0

In [12]:
print(lapply(split(mtcars$mpg, mtcars$cyl), mean))

$`4`
[1] 26.66364

$`6`
[1] 19.74286

$`8`
[1] 15.1

In [13]:
print(with(mtcars, tapply(mpg, cyl, mean)))

       4        6        8
26.66364 19.74286 15.10000

In [14]:
print(tapply(mtcars$mpg, mtcars$cyl, mean))

       4        6        8
26.66364 19.74286 15.10000

In [15]:
mean(mtcars[with(mtcars, cyl == 8), c("hp")]) - mean(mtcars[with(mtcars, cyl == 4), c("hp")])

[1] 126.5779

In [16]:
debug(ls)
ls()

debugging in: ls()
debug: {
    if (!missing(name)) {
        pos <- tryCatch(name, error = function(e) e)
        if (inherits(pos, "error")) {
            name <- substitute(name)
            if (!is.character(name))
                name <- deparse(name)
            warning(gettextf("%s converted to character string",
                sQuote(name)), domain = NA)
            pos <- name
        }
    }
    all.names <- .Internal(ls(envir, all.names, sorted))
    if (!missing(pattern)) {
        if ((ll <- length(grep("[", pattern, fixed = TRUE))) &&
            ll != length(grep("]", pattern, fixed = TRUE))) {
            if (pattern == "[") {
                pattern <- "\\["
                warning("replaced regular expression pattern '[' by  '\\\\['")
            }
            else if (length(grep("[^\\\\]\\[<-", pattern))) {
                pattern <- sub("\\[<-", "\\\\\\[<-", pattern)
                warning("replaced '[<-' by '\\\\[<-' in regular expression pattern")
            }
        }
        grep(pattern, all.names, value = TRUE)
    }
    else all.names
}
debug: if (!missing(name)) {
    pos <- tryCatch(name, error = function(e) e)
    if (inherits(pos, "error")) {
        name <- substitute(name)
        if (!is.character(name))
            name <- deparse(name)
        warning(gettextf("%s converted to character string",
            sQuote(name)), domain = NA)
        pos <- name
    }
}
debug: all.names <- .Internal(ls(envir, all.names, sorted))
debug: if (!missing(pattern)) {
    if ((ll <- length(grep("[", pattern, fixed = TRUE))) && ll !=
        length(grep("]", pattern, fixed = TRUE))) {
        if (pattern == "[") {
            pattern <- "\\["
            warning("replaced regular expression pattern '[' by  '\\\\['")
        }
        else if (length(grep("[^\\\\]\\[<-", pattern))) {
            pattern <- sub("\\[<-", "\\\\\\[<-", pattern)
            warning("replaced '[<-' by '\\\\[<-' in regular expression pattern")
        }
    }
    grep(pattern, all.names, value = TRUE)
} else all.names
debug: all.names
exiting from: ls()

[1] "iris"   "mtcars" "q"      "quit"