# Programming with R @ Coursera.

This week is all about functions and about controlling the flow of an R program. 
We start with control structures (like if-else, and for loops) and then move on to writing functions. 
Next, we discuss the lexical scoping features of the language and how they can be used in interesting ways, 
particularly for statistical applications.

## Learning Objectives

By the end of this week you should be able to:

- Write an if-else expression
- Write a for loop, a while loop, and a repeat loop
- Define a function in R and specify its return value [see Functions Part 1 and Part 2]
- Describe how R binds a value to a symbol via the search list
- Define what lexical scoping is with respect to how the value of free variables are resolved in R
- Describe the difference between lexical scoping and dynamic scoping rules
- Convert a character string representing a date/time into an R datetime object. [see Dates and Times]

# If-else

In [1]:
x <- 5

if ( x > 3 ) {
    y <- 10 
} else { ## Else has to be right after the {
    y <- 0    
}

y

[1] 10

In [2]:
if ( 5 > 3) {
    print("Hello")
}

if ( 6 == 6 ) {
    print("World")
}

[1] "Hello"
[1] "World"

# For loop

In [3]:
for (i in 1:10) {
    if (i < 3) {
        print(i) ## Only print one value
    } else if (i > 8) {
        message("Warning! The number is greater than 8: ", i) ## Warning message        
    } else {
        cat(sprintf("i=%i i^2=%i\n", i, i^2)) ## Similar to a python string print
    }
    
}

[1] 1
[1] 2
i=3 i^2=9
i=4 i^2=16
i=5 i^2=25
i=6 i^2=36
i=7 i^2=49
i=8 i^2=64

Warning! The number is greater than 8: 9
Warning! The number is greater than 8: 10

In [4]:
x <- c("a", "b", "c", "d")

# Manually type in the length
for (i in 1:4) {
    print(x[i])
}

[1] "a"
[1] "b"
[1] "c"
[1] "d"

In [5]:
# Similar to enumerate in python
for (i in seq_along(x)) {
    print(c(i, x[i])) # Remember, it makes a vector with similar types
}

[1] "1" "a"
[1] "2" "b"
[1] "3" "c"
[1] "4" "d"

In [6]:
for (letter in x) print(letter) # One line, discard the {}

[1] "a"
[1] "b"
[1] "c"
[1] "d"

## Nested loops

In [7]:
m <- matrix(1:6, 2, 3)
m

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

In [8]:
for (i in seq_len(nrow(m))) {
    for (j in seq_len(ncol(m))) {
        cat(sprintf("i=%i, j=%i, m[i,j]=%i\n", i, j, m[i, j]))
    }
}

## Can be difficult to read more than 2-3 nested loops

i=1, j=1, m[i,j]=1
i=1, j=2, m[i,j]=3
i=1, j=3, m[i,j]=5
i=2, j=1, m[i,j]=2
i=2, j=2, m[i,j]=4
i=2, j=3, m[i,j]=6

# While loop

In [9]:
counter <- 0
while (counter < 10) {
    print(counter)
    counter <- counter + 1
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

In [10]:
## More than one condition
z <- 4
counter <- 0

while (z >= 3 && z <= 10) {
    print(z)
    coin <- rbinom(n = 1, size = 1, prob = 0.5) ## Either 1 or 0 with equal probability
    
    if (coin == 1) {
        z <- z + 1
    } else {
        z <- z - 1
    }
    
    counter <- counter + 1
}

message("Number of counts: ", counter)

[1] 4
[1] 3

Number of counts: 2

# Repeat
Initiates an infinite loop. Only way to exit is to call:

Can use a while or a for loop instead of repeat.

```r
tol <- 1.0E-6

repeat {
    ## Compute something
    x <- x1 - x0 
    ## When threshold is met
    if (x <= tol) break
}
```

# next, return

In [11]:
for (i in 1:100) {
    if (i <= 20) {
        ## Skip the first 20 iterations
        next
    }
    ## Do something
}

# Functions

In [12]:
add2 <- function(x, y) {
    x + y ## R will always return the last expression
}

In [13]:
add2(2, 3)

[1] 5

In [14]:
above10 <- function(x) {
    use <- x > 10
    x[use]
}

above <- function(x, n = 10) {
    ## Default value for n
    use <- x > n
    x[use]
}

In [15]:
x <- 1:20
above(x, 15)
above(x)

[1] 16 17 18 19 20

 [1] 11 12 13 14 15 16 17 18 19 20

In [16]:
column_mean <- function(y) {
    ## y is a dataframe or matrix
    nc <- ncol(y)
    means <- numeric(nc) ## Initalize a numeric vector of length nc
    for (i in 1:nc) {
        means[i] <- mean(y[, i])
    }
    means
}

In [17]:
m
column_mean(m)

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

[1] 1.5 3.5 5.5

In [18]:
## Print the arguments in a function
args(lm)

function (formula, data, subset, weights, na.action, method = "qr",
    model = TRUE, x = FALSE, y = FALSE, qr = TRUE, singular.ok = TRUE,
    contrasts = NULL, offset, ...)
NULL

## Defining a function

In [19]:
f <- function(a, b = 1, c = 2, d = NULL) {
    a^2
}

In [20]:
f(2) # Will work
f(b=2) # Error

[1] 4

ERROR: Error in f(b = 2): argument "a" is missing, with no default

# The ... argument

Often used to extend another functions

In [21]:
## Not sure why we need to use ..., it works without it as well.
myplot <- function(x, y, type = "l", ...) {
    plot(x, y, type = type, ...)
}

In [22]:
args(paste) ## Paste does not know how many inputs it will have

function (..., sep = " ", collapse = NULL)
NULL

In [23]:
## Example
paste("1st", "2nd", "3rd", sep = ", ")

[1] "1st, 2nd, 3rd"

In [24]:
## Parameters after the ... must be named explicitly
paste("A", "B", sep = ":") 
paste("A", "B", se = ":") ## last parameter is not explicit

[1] "A:B"

[1] "A B :"

# Lexial scoping

In [25]:
make_power <- function(n) {
    pow <- function(x) {
        x^n
    }
    pow
}

In [26]:
## First, we assign cube to make_power with n=3
## Then, we run cube with x=2, which returns 2^3
## 
## 3 is "remembered" by cube, since pow is inside make_power
cube <- make_power(3) 
cube(2)

[1] 8

In [27]:
ls(environment(cube))
get("n", environment(cube))

[1] "n"   "pow"

[1] 3

In [28]:
environment(cube)

## Lexical vs. dynamic scoping

In [29]:
y <- 10
f <- function(x) {
    y <- 2
    y^2 + g(x)
}

g <- function(x) {
    x*y
}

In [30]:
# What is the value of? My guess is 2^2 + 3*10 = 34
f(3)

[1] 34

In [31]:
y <- 10
f <- function(x) {
    y <- 2
    
    ## Define the function inside f(x)
    g <- function(x) {
        x*y
    }
    
    y^2 + g(x)
}

f(3) # Now the result will be 2^2 + 3*2 = 4 + 6 = 10

[1] 10

# Dates and times in R

In [32]:
# Dates in R are calculatef from 01-01-1970
x <- as.Date("1970-01-01")
x

[1] "1970-01-01"

In [33]:
class(x)
unclass(x)

[1] "Date"

[1] 0

In [34]:
x <- as.Date("1970-01-02") 
unclass(x) # When you unclass it, it becomes 1, which is one day from the start (01-01-1970)

[1] 1

In [35]:
# Time
x <- Sys.time()
x

[1] "2016-10-07 11:14:15 CEST"

In [36]:
p <- as.POSIXlt(x)
names(unclass(p))

 [1] "sec"    "min"    "hour"   "mday"   "mon"    "year"   "wday"   "yday"
 [9] "isdst"  "zone"   "gmtoff"

In [37]:
p$sec

[1] 15.70724

In [38]:
## This is the code from Coursera. Not sure why it return NA
datestring <- c("January 10, 2012 10:40", "December 9, 2011 9:10")
x <- strptime(datestring, "%B %d, %Y %H:%M")
x

[1] NA NA

In [39]:
x <- as.Date("2012-03-01"); y <- as.Date("2012-02-28")
x-y

Time difference of 2 days

In [40]:
x <- as.POSIXct("2012-10-25 01:00:00")
y <- as.POSIXct("2012-10-25 06:00:00", tz="EST") #Takes care of time zones
y-x

Time difference of 12 hours

## Date and time summary

- Dates used the Date class
- Times use the POSIXct and POSIXlt class